/* THEME: 
CREAM: #F4F2ED
PURPLE: #542D88
DARK: #26231F
TAN: #D0C6B5
GOLD: #E4B53A
DARK GRAY: #66635E
*/

@font-face {
  font-family: 'Open Sans Bold';
  src: url(./assets/fonts/OpenSans-Bold.ttf);
  font-weight: 800
}

@font-face {
  font-family: 'Open Sans';
  src: url(./assets/fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url(./assets/fonts/OpenSans-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url(./assets/fonts/OpenSans-SemiBold.ttf);
  font-weight: 600;
}


body {
  margin: 0;
  background-color: #F4F2ED;
  overflow-x: hidden;
  
}

hr {
  border: 0.5px solid #D0C6B5;
  /* width: 100%; */
}

h1 {
  font-family: 'Open Sans Bold';
  margin: 0px;
}

h2 {
  font-family: 'Open Sans Bold';
}

h3 {
  font-family: 'Open Sans SemiBold';
  color: #66635E;
  margin: 0px;
}

p {
  font-family: 'Open Sans';
  font-size: 13px;
  margin: 0px;
}

.top-text {
  margin-bottom: 30px;
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: column; */
  flex-flow: column wrap;
  
}
.create-acct-link {
  text-decoration: none;
  font-family: 'Open Sans Bold';
  color: #542D88;
  font-size: 13px;
}

.login-page {
  display: flex;
  flex-direction: row;
}

.login-logo {
  display: flex;
  align-self: center;
  justify-content: center;
  max-width: 40%;
  padding: 10%;
}

.login-web {
  max-width: 60%;
  font-family: 'Open Sans';
  margin-top: 10%;
  justify-content: center;
}

.login-mobile {
  display: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
}

.btn {
  color: white;
  background-color: #542D88;
  width: 80%;
  border: none;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  padding: 3%;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 5px 20px #717274;
}

.login-form-label {
  font-family: 'Open Sans Light';
  font-size: 13px;
  color: #66635E;
}

input {
  border: none;
  border: 1px solid #D0C6B5;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Open Sans';
  font-size: 12px;
}

.socials {
  display: flex;
  margin: 15px;
  align-items: center;
  justify-content: center
}

.social-icon {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  h2 {
    color: #66635E;
    font-family: 'Open Sans Bold';
  }
  .login-web, .login-logo {
    display: none;
  }
  .login-mobile {
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
  }
  .login-form-label-mobile {
    font-family: 'Open Sans Light';
    font-size: 13px;
    color: #66635E;
  }
  .input-mobile {
    width: 80%;
    align-self: center;
  }
  .login-form-mobile {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    position: absolute;
    bottom: 10%;
    width: 90%;
  }
  .btn {
    width: 40%;
    border-radius: 35px;
  }
  .mobile-form-elt {
    align-self: center;
  }
  .navbar-web {
    display: none;
  }
}

.header {
  background-color: #D0C6B5;
  width: 100vw;
  text-align: center;
  padding: 2%;
}

.navbar-web {
  background-color: #66635E;
  color: #F4F2ED;
  width: 13vw;
  height: 100vh;
  z-index: -1;
  padding: 1%;
  float: left;
}

ul {
  font-family: 'Open Sans';
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  font-family: 'Open Sans Light';
  text-decoration: none;
  color: #F4F2ED;
  margin: 0px;
  padding-left: 3%;
  padding-top: 3%;

}

.link {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans Light';
}

.link-2 {
  text-decoration: none;
  font-family: 'Open Sans';
  color: black;
  padding: 1%;
}

.link-2:hover {
  font-family: 'Open Sans SemiBold';
}

/* .link:hover {
  font-family: 'Open Sans SemiBold';
} */

.nav-collapse {
  /* padding: none;
  margin: none; */
  color: black;
  font-size: 16px;
  font-family: 'Open Sans';
  background-color: transparent;
  outline: none;
  border: none;
}

.schedule-container {
  /* padding: 10px;
  width: 100vw - 13vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schedule-item {
  float: right;
  width: 80vw;
  padding: 10px;
}

.schedule-item-heading {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.schedule-item-event {
  display: flex;
  margin-bottom: 2%;
  flex-wrap: wrap;
}

.schedule-item-details {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.navbar-web-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-web-2-pages {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
  padding: 1%;
  flex-wrap: none;
  width: 100%;
}

.navbar-web-2-logo {
  width: 40%;
  padding: 3%;
}

.nav-dd-content {
  display: none;
  /* position: absolute; */
  margin-top: 33px;
  margin-left: 5px;
  padding: 10px;
  background-color: #F4F2ED;
  z-index: 10;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.nav2-dd {
  display: flex;
  float: left;
  overflow: hidden;
  /* flex-direction: column; */
}

.nav2-dd:hover .nav-dd-content {
  /* display: block; */
  display: flex;
  position: absolute;
  flex-direction: column;
}

.nav-dd-content > .link:hover {
  color: #542D88;
}

.checklist-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checklist-form-container {
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: block;
  position: relative;
  font-family: 'Open Sans';
  padding-left: 35px;
  margin-bottom: 4%;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
 
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: none;
  border: 1px solid #E4B53A;
}

.checkbox-container:hover input ~ .checkmark {
  border: 2px solid #E4B53A;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
 
.checkbox-container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pack-link { 
  text-decoration: none;
  font-family: 'Open Sans Bold';
  color: #542D88;
}

.pack-link:hover {
  text-decoration: underline;
}

.packing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.items-list {
  list-style-type: disc;
}

.item::marker {
  color: #E4B53A;
  font-size: 36px;
  vertical-align: middle;
}

.item {
  padding: 0;
  vertical-align: middle;
}

.dashboard-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
}

.photo-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo-link {
  text-decoration: none;
  font-family: 'Open Sans Bold';
  color: #F4F2ED;
  background-color: #66635E;
  padding: 5%;
  width: 300px;
  margin: 1%;
  text-align: center;
  border-radius: 35px;
  font-size: 20px;
  box-shadow: 0px 3px 5px #717274;
}

.faq-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq-questions {
  padding: 5%;
}


#ah {
  font-family: 'Open Sans Bold';
}

#ab {
  font-family: 'Open Sans';
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #e9e3d8;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");  */

}

.accordion-button:focus {
  border-color: black;
}

.error-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10%;
}

.error {
  font-family: 'Open Sans';
  max-width: 15%;
  margin-top: 1%;
  padding: 10px;
  display: flex;
  align-items: center;
}